/*.wdpsadmin*/.wdattrdisplay{
	position:absolute;
	top:0px;
    background-color: black;
    opacity:0.6;
    z-index: 10;
    color: white;
    padding: 5px;
}
/*.wdpsadmin a, .wdpsadmin a:hover*/
.wdattrdisplay a, .wdattrdisplay a:hover{
    color: white;
    cursor: pointer;
}